* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.months-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    cursor: pointer;
    font-size: 16px;
    font-family: Arial;
}

.months {
    border: 2px solid #f0f0f0;
    text-align: end;
    transition: 0.3s ease;
    height: 70px;

}

.months:hover {
    color: black;
    background-color: blueviolet;
}

.month-continers {
    max-width: 750px;
    min-height: 600px;
}

.weeks-continer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-family: sans-serif;
    font-size: 18px;
    cursor: pointer;
}


.weekday {
    border: 2px solid #f0f0f0;
    text-align: center;
    padding: 2px;
}


.last-month,
.current-month,
.next-month {
    text-align: center;
    padding: 24px;
    display: grid;
    border: 2px solid #f0f0f0;
    font-family: sans-serif;
    font-size: 18px;
    transition: 0.3s ease;

}

.next-month:hover {
    color: black;
    background-color: blueviolet;

}

.current-month:hover,
#current-day-active {
    color: black;
    background-color: blueviolet;
}

.last-month:hover {
    color: black;
    background-color: blueviolet;
}

.current-day {
    transition: 0.3s ease;
}

.first-month {
    text-align: center;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    margin: 12px;
    border: 2px solid #f0f0f0;
}

.placeholder {
    padding: 12px;
    margin: 12px;
    width: 85%;
    border-radius: 12px;
    cursor: pointer;
}

.calendar {
    margin: 12px;
    padding: 12px;
    border: none;
    border-radius: 12px;
}

.last-month {
    color: grey;
}

#Sunday {
    color: red;
}

.tab-button {
    padding: 12px;
    margin: 12px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 12px;
    transition: 0.3s ease;
    color: grey;
    border: none;
    display: inline-block;
}

.tab-button:hover {
    color: black;
    background-color: blueviolet;
}

.buttons {
    border: 2px solid #f0f0f0;
    padding: 2px;
    margin: 2px;
}